<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.matthias_schedel.nfctagreader">
    <!-- min sdk for NFC -->
    <uses-sdk
        android:minSdkVersion="10"
        android:targetSdkVersion="17" />
    <!-- ask for permission to use nfc adapter-->
    <uses-permission android:name="android.permission.NFC" />
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- NFC is required -->
    <uses-feature
        android:name="android.hardware.nfc"
        android:required="true" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <!-- Adds the app to be available as a launcher when phone detects a NFC Tag -->
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <!-- We only want to use NDEF Technology-->
                <action android:name="android.nfc.action.NDEF_DISCOVERED" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/plain" />
            </intent-filter>
            <!--
            We don't use tech_filter list because we currently only provide functionality for NDEF Format
            <meta-data
                android:name="android.nfc.action.TECH_DISCOVERED"
                android:resource="@xml/nfc_tech_filter" /> -->
        </activity>
    </application>
</manifest>